In [61]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
plt.rcParams['font.family']='Gulim'

In [107]:
data2 = pd.read_csv("data2.csv")
data2

         구분류          외래        입원       사망
0         내과     428,584   647,440    5,517
1         외과      85,277   139,906      457
2       산부인과      34,116    34,522       26
3     소아청소년과     441,011   133,191      118
4       정형외과     276,973   187,786      107
5       신경외과      86,063   143,620      566
6         치과      20,644     1,356        2
7         안과      53,286     4,351       0
8      이비인후과      82,635    18,816       11
9    정신건강의학과      18,400     6,987        3
10      흉부외과       9,983    28,279      150
11      비뇨기과      39,482    23,619       19
12      성형외과     113,631     9,882       30
13     재활의학과         665     2,169        3
14       신경과      81,065   102,259       92
15     응급의학과   6,889,265   319,164   24,505
16        기타      68,739    21,129      183

In [108]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0    구분류    17 non-null     object
 1    외래     17 non-null     object
 2    입원     17 non-null     object
 3    사망     17 non-null     object
dtypes: object(4)
memory usage: 672.0+ bytes

In [111]:
data_1 = data2.rename(columns = {'외래' : 'p'})
data_1

         구분류          외래        입원       사망
0         내과     428,584   647,440    5,517
1         외과      85,277   139,906      457
2       산부인과      34,116    34,522       26
3     소아청소년과     441,011   133,191      118
4       정형외과     276,973   187,786      107
5       신경외과      86,063   143,620      566
6         치과      20,644     1,356        2
7         안과      53,286     4,351       0
8      이비인후과      82,635    18,816       11
9    정신건강의학과      18,400     6,987        3
10      흉부외과       9,983    28,279      150
11      비뇨기과      39,482    23,619       19
12      성형외과     113,631     9,882       30
13     재활의학과         665     2,169        3
14       신경과      81,065   102,259       92
15     응급의학과   6,889,265   319,164   24,505
16        기타      68,739    21,129      183

In [112]:
def to_int(입원):
    p=p.replace(',','')
    p=int(입원)
    return 입원

In [113]:
입원_int = data_1.입원.apply(to_int)
입원_int.head()

AttributeError: 'DataFrame' object has no attribute '입원'